* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media query para telas pequenas (mobile) */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  body {
    padding: 0 1rem;
  }
}
